services:
  postgres:
    image: postgres:15-alpine
    container_name: devops-postgres
    environment:
      POSTGRES_DB: devopsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  devops-api:
    build: .
    container_name: devops-api
    ports:
      - "8080:8080"
    environment:
      R2DBC_URL: r2dbc:postgresql://postgres:5432/devopsdb
      R2DBC_USERNAME: postgres
      R2DBC_PASSWORD: admin
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:

